@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
    --cardWidth: 250px;
    --cardHeight: 400px;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: orange;
}

main {
    min-height: 950px;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top {
    height: 300px;
    overflow: hidden;
    margin-top: -5px;
    box-shadow: 0px 0px 3px black;
}

.top>img {
    position: static;
    min-width: 100%;
    margin-right: 100px;

}

.filter {
    position: sticky;
    margin-top: 15px;
    top: 15px;
    max-height: 60vh
}

.filter>.filterOptions {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 230px;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0px 0px 1px black;
    background-color: rgb(255, 247, 236);
}

.filterTitle,
.searchBar,
.vegi,
.vegan,
.glutenFree,
.healthy,
.seafood,
.comfy,
.appetizer,
.mediterranean,
.asian,
.italian,
.french,
.mexican,
.american,
.dessert,
.drinks {
    margin: 2px 20px;
    user-select: none;
}

.search {
    width: 90%;
}

.filterClear {
    width: 150px;
    background-color: orange;
    border: 1.5px rgb(0, 0, 0) solid;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 5px;
    user-select: none;
}

.filterClear:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 2px black;
}

label:hover {
    cursor: pointer;
}

.filterTitle {
    color: orange;
    border-bottom: 4px solid rgb(0, 0, 0);
}

/* Styling of the Food Cards */
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 15px 0px 15px 250px;
    gap: 10px;
}

.card {
    width: var(--cardWidth);
    height: var(--cardHeight);
    background-color: rgb(255, 247, 236);
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 1.5px black;
    font-size: 15px;
    font-size: 15px;
    overflow: hidden;
    flex-shrink: 0;
}

.img {
    display: flex;
    width: calc(var(--cardWidth) /2);
    height: calc(var(--cardWidth) / 2);
    border: 1.5px black solid;
    border-radius: calc(var(--cardWidth));
    margin: 10px calc(var(--cardWidth) / 4);
}

.img:hover {
    width: calc(var(--cardWidth) - 20px);
    height: calc(var(--cardWidth) - 20px);
    border-radius: 0px;
    margin: 10px 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 190px;
    margin: 20px 10px;
    border-bottom: 1px solid grey;
    gap: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
}

.addItem {
    width: 50px;
    margin-left: calc(var(--cardWidth) - 60px);
    margin-top: -8px;
    background-color: orange;
    border: 1.5px rgb(0, 0, 0) solid;
    text-align: center;
    border-radius: 10px;
}

.addItem:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 0px 2px black;
}